<br><br><br><br><br><br>
<div class="container">
<h1 style="font-family='Droid Arabic Naskh', serif; line-height:60px;">تعديل الحالة </h1>
<%= render 'form' %>

<%= link_to 'عرض', @post, class:"btn default" %>
<%= link_to 'عودة', posts_path, class:"btn default" %>
<br>
</div>
<br>