<br><br><br><br><br><br>
<div class="container">
<h1 style="font-family='Droid Arabic Naskh', serif; line-height:60px;">اضافة حالة جديدة</h1>
<%= render 'form' %>

<%= link_to 'العودة', posts_path, class:"btn default" %>
</div>
<br><br><br><br><br><br>
